@import "tailwindcss";

*,
:after,
:before {
  box-sizing: border-box;
}
button,
input,
select,
textarea {
  font: inherit;
}
button,
select {
  text-transform: none;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

:root {
  --charted-webkit-font-smoothing: antialiased;
  --charted-moz-font-smoothing: grayscale;
  --charted-color-white: #fff;
  --charted-color-black: #000;
  --charted-font-family: Inter, sans-serif;
  --charted-font-family-headings: Inter, sans-serif;
  --charted-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --charted-font-family-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  --charted-font-family-headings: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --charted-heading-font-weight: 700;
  --charted-color-text: var(--charted-color-white);
  --charted-color-body: var(--charted-color-white);
}

body {
  -webkit-font-smoothing: var(--charted-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--charted-moz-font-smoothing);
  background-color: var(--charted-color-body);
  color: var(--charted-color-text);
  font-family: var(--charted-font-family);
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  [data-respect-reduced-motion] [data-reduce-motion] {
    animation: none;
    transition: none;
  }
}
